{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}

{{ if ne .Params.table_of_contents_render false }}
  {{ if gt (len .TableOfContents) 32 }}
  <aside class="toc-container">
    <nav class="toc" aria-label="Table of Contents">
      <h2>Table of Contents</h2>
      {{ .TableOfContents }}
      {{ if and (ne .Params.references_render false) .Params.references }}
        <ul class="toc-references">
          <li><a href="#references">References</a></li>
        </ul>
      {{ end }}
    </nav>
  </aside>
  {{ end }}
{{ end }}

<content>
  {{ .Content }}
  {{ if and (ne .Params.references_render false) .Params.references }}
  <section class="references-bibliography" style="margin-top: 2rem; border-top: 1px solid #ccc; padding-top: 1rem;">
    <h2 id="references">References</h2>
    <ol>
      {{ range .Params.references }}
        <li id="ref-{{ .id }}">
          <strong>{{ .author }}</strong>
          {{ if .date }} ({{ .date }}){{ end }}.
          <em>{{ .title }}</em>.
          {{ if .url }}<a href="{{ .url }}" target="_blank" rel="noopener">{{ .url }}</a>{{ end }}
        </li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</content>

{{ if eq .Type "blog" }}{{ if (.Param "enablePostNavigator")}}
{{- partial "post_navigator.html" . -}}
{{ end }}{{ end }}

{{/*
<!-- Categories and Tags commented out to keep single post page clean -->
<p>
  {{ range (.GetTerms "categories") }}
  <a href="{{ .Permalink }}">[{{ .LinkTitle }}]</a>&nbsp;
  {{ end }}

  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>&nbsp;
  {{ end }}
</p>
*/}}
{{ end }}
